/* Used */


* {
  font-family: "Poppins", sans-serif;
  color: white
 }

.background {
  background-color: #72D3AD;
}


.text-color{
  color:#72D3AD;
}

li a:hover {
  color: black !important;
  text-decoration: underline;
}



.bckg_image_index{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/index/index_bckg.jpg);
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.bckg_image_objeciones{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/objeciones/gallina_bck_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
}

.bckg_image_recetas{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/recetas/bckg_recetas.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;

}


.bckg_image_salud{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/salud/salud_bckground.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
}

.bckg_image_introduccion{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/introduccion/bck_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
}


.bckg_image_compras{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/compras/compras_bckg.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;

}

.introduction_title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 1, 700;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.transition:hover{
  transform: scale(1.1);
  transition: all 1s;
}

.navbar-custom .nav-link {
  font-size: 17px;
  font-weight: 1, 400;
}


.selected{
  color: black !important;
}

.not_selected{
  color: white !important
}

.navbar-custom{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}


.navbar-nav{
  margin-right: 0 !important;
}

.nav-item{
  margin:0;
  padding:0;
}

.navbar-collapse{
  flex-grow: 0;
}

.section_margin section{
  margin-left: 20px;
}


.format_section h2{
  margin-left: 20px;
  margin-bottom: 30px;
}

.center_text{
  text-align: center;
}

.p_bajada {
  text-align: center;
  font-weight: 1,400;
  font-size: 15px;
  line-height: 30px;
}



.button_recetas{
  width:80%;
  position: relative;
  overflow: auto;
}

.button_recetas h3{
  background: #86BDBC;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  border: 1px solid white;

}


.center_p{
  width: 80%;
  margin: 0 auto;

}

.center_p2{
  width: 40%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.index_topics_size{
  width: 80%;
  padding-bottom: 50%;

}

.index_topics_alone_size{
  width: 40%;
  height: 0;
  padding-bottom: 25%;
}

.compras_size{
  width: 55%;
  padding-bottom: 30%;

}


.salud_topics_size{
  width: 60%;
  padding-bottom: 20%;

}

.nutrientes_size{
  width: 55%;
  padding-bottom: 63%;

}


.avales_size{
  width: 55%;
  padding-bottom: 53%;

}

.recetas_size{
  width: 50%;
  padding-bottom: 35%;

}

.carrousel_size{
  width: 50%;
  padding-bottom: 32%;

}

.carrousel2_size{
  width: 60%;
  padding-bottom: 32%;

}


.margin_top{
  margin-top: 50px;
}


.topics{
  position: relative;
  height: 0;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

.fill_div{
  max-width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  font-size:2vw;
  font-size: 20px;
  text-align: center;
}



.centered_down {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
}

.objeciones{
  top: 80%;
  font-size: 18px;
}

.caps{
  text-transform: uppercase;
}


.button_recetas{
  width:80%;
  position: relative;
  overflow: auto;
}

.button_compras, .button_nutricionistas, .button_recetas h3{
  background: #86BDBC;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  border: 1px solid white;
}


.margin_bottom div{
  margin-bottom: 40px;
}


footer{
  background-color: #72D3AD;
  padding-right:20%;
  padding-left:20%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width:768px){
  .index_topics_size, .index_topics_alone_size{
    width: 50%;
    padding-bottom: 30%;
  }

}

@media screen and (max-width:576px){
  .resize_social_media img{
    height: 30px;
  }
  .introduction__title{
    font-size: 30px;
  }
}

